* {
    box-sizing: border-box;
    font-family: "Lucida Console", Courier, monospace;
    padding: 0;
    margin: 0;
}

body{
    
    align-items: center;
    margin: 0;
    }
.row {
    
        display: flex;
        flex-wrap: wrap;
 }

.side {
    width: 15%;
    height: 75%;
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
  }

.right{
    width: 15%;
    height: 75%;
    background-color: #f1f1f1;
    padding: 20px;
    float: left;
  }

.main {
    width: 70%;
    height: 75%;
  
    
    float: left;
  }
  
.imagem {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
    height: 100%;
  }


@media screen and (max-width: 300px) {
    .row{
        flex-direction: column;
    }
}




.home-background {
    max-height: 82vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(360px, 100%, 100%);
    margin-top: 3px;
    background-color: #1408c2;
    
}

.home-welcome {
   display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    flex-direction: column;
    
}

.home-title {
    margin: 20px;
}

.home-subtitle{
    margin: 20px;

}

.home-text {
    text-align: center;
}

.home-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home-btns {
    max-width: max-content;
    border: 0;
    padding: 10px;
    margin: 10px;
}

.home-btns:hover {
    box-shadow: 0px 0px 2px 2px black;
}

.home-btns-options {
    display: flex;
}