<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <script src="{{ url_for('static', filename='recipe/create-recipe/create-recipe.js') }}"></script>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='recipe/create-recipe/create-recipe.css') }}">
    {% endblock %}

    

</head>
<body>
{% include 'header/header.html' %}

<main class="container">
    <div class="row">
        <div class="col-12" style="display: flex; align-items: center;">
            <a type="button" style="margin-right: 1rem;" href="{{ url_for('receita.index') }}">Voltar</a>
            <h1>Criar receita</h1>
        </div>
    </div>
   
    <form method="POST">
        <div class="row">
            <div class="col-12" style="margin-bottom: 1rem;">
                <label>Nome</label>
                <input class="form-control" type="text" id="name" name="nome" placeholder="Nome da receita">
            </div>

            <div class="col-12" style="margin-bottom: 1rem;">
                <label>Ingredientes</label>
                {% if data.stored_ingredients %}
                   
                               
                                    <select id ="dropDownIng">
                                        {% for ingredient in data.stored_ingredients %}
                                        <option value="{{ ingredient.name}}" id="{{ ingredient.id }}">{{ ingredient.name }}</option>
                                        {% endfor %}
                                    </select>
                               
                                    <label>Quantidade</label>
                                    <input class="form-control" type="text"  name="quantidade_ingrediente">
                                    
                                    <input  class="form-btn" value="Adicionar" type="button" name="Adicionar"  id="adding"  onclick="Adicionaringrediente()" >    
                     
                {% endif %}
                
            </div>
           

            <div class="Categoria">
               
                <select id ="dropDownCat"> <!-- give an id to select box-->

                    <option value="">Categoria</option>
                    <option value="bolos">Bolos</option>
                    <option value="carnes">Carnes</option>
                    <option value="aves">Aves</option>
                    <option value="mar">Frutos do Mar</option>
                    <option value="saladas">Saladas</option>
                    <option value="sopas">Sopas</option>
                    <option value="massas">Massas</option>
                    <option value="bebidas">Bebidas</option>
                    <option value="doces">Doces</option>
                    <option value="lanches">Lanches</option>
                    
                </select>
                
            </div>
            <div class="col-12" style="margin-bottom: 1rem;">
                <label>Preparação</label>
                <textarea class="form-control" rows="8" type="text" id="steps" name="etapas" placeholder="Exemplo: 1 - Misturar ovos"></textarea>
            </div>

            <div class="col-12">
                <button type="submit" class="button submit-button" onclick="create()" style="width: 100%;">Criar</button>
            </div>
        </div>
    </form>
</main>

{% include 'footer/footer.html' %}
</body>
</html>